# Diretórios do Visual Studio
.vs/
bin/
obj/
 
# Arquivos de configuração de usuário
*.user
*.suo
*.sln.docstates

# Configurações do Rider
.idea/
 
# Diretórios de pacotes NuGet
packages/

# Arquivos de log
*.log

# Configurações de compilação do Visual Studio
*.pdb
*.mdb

# Outros arquivos temporários
*.tmp
*.temp

# Outros arquivos gerados
*.dll
*.exe
*.cache
